<div class="smowlreg_block">
<img src="https://media.smowltech.net/images/Buho50.png">
<br>
<br>
{% if has_settings %}
    <P>1. Check your camera <B><a href="{{checkBBLink}}" target="_blank"> here</a></B></P>
    <br>
    <P>2. Click <B><a id="urlFinal2" href="" >here</a></B> to register.</P>
{% else %}
    <p>La configuración interna del componente <strong>no se ha configurado correctamente</strong>.</p>
    <p>Contáctese con mesa de ayuda <strong><a href="/contact_form">presionando aquí</a></strong>.</p>
{% endif %}
</div>